/* Styles */

@import url("tables.css");
@import url("typography.css");

body {
	text-align: center;
	background-color: lightblue;
}
#page {
	width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 20px;
}
h3 {
	color: rgb(72, 68, 109);
}